Host *
        UseKeychain yes
        AddKeysToAgent yes
        ForwardAgent yes
        IdentityFile ~/.ssh/id_ed25519

Host sdbridge-13
       Hostname tvlds-jazz00013.delta.sbrf.ru
       User jazz_dev

Host tklss-vks000001 sdev-1
        HostName tklss-vks000001.delta.sbrf.ru

Host tvlss-vks000001 sdev-2
        HostName tvlss-vks000001.delta.sbrf.ru

Host tklss-vks000001 tvlss-vks000001 sdev-1 sdev-2
	User vks_dev


Host tpgds-jazz00001
        HostName tpgds-jazz00001.delta.sbrf.ru
        User jazz-dev

Host tvlds-jazz00001
        HostName tvlds-jazz00001.delta.sbrf.ru

Host tvlds-jazz00002
        HostName tvlds-jazz00002.delta.sbrf.ru

Host tvlds-jazz00003
        HostName tvlds-jazz00003.delta.sbrf.ru

Host tvlds-jazz00004
        HostName tvlds-jazz00004.delta.sbrf.ru

Host tpgds-jazzgi0001
        HostName tpgds-jazzgi0001.delta.sbrf.ru

Host tpgds-jazzgi0002
        HostName tpgds-jazzgi0002.delta.sbrf.ru

Host tvldw-jazz00014
        HostName tvldw-jazz00014.delta.sbrf.ru

Host tvldw-jazz00015
        HostName tvldw-jazz00015.delta.sbrf.ru

Host sdev-1 sdev-2 tvlds-jazz00001 tvlds-jazz00002 tvlds-jazz00003 tvlds-jazz00004 tpgds-jazzgi0001 tpgds-jazzgi0002 tvldw-jazz00014 tvldw-jazz00015
        User jazz_test


Host tkldw-jazz00009
        Hostname tkldw-jazz00009.delta.sbrf.ru

Host tkldw-jazz00010
        Hostname tkldw-jazz00010.delta.sbrf.ru

Host tkldw-jazz00009 tkldw-jazz00010
        User jazz_dev



Host cdback-1
        HostName d-jazz-backend-sc-msk01
Host cdback-2
        HostName d-jazz-backend-sc-msk02
Host cnt-1
        HostName nt-jazz-backend-sc-msk01
Host cnt-2
        HostName nt-jazz-backend-sc-msk02
Host cnt-3
        HostName nt-jazz-backend-sc-msk03
Host cnt-4
        HostName nt-jazz-backend-sc-msk04
Host cdbridge
        HostName d-jazz-bridge-sc-msk50
Host cdbridge-1
        HostName d-jazz-bridge-sc-msk01
Host cdbridge-2
        HostName d-jazz-bridge-sc-msk02
Host cdbridge-3
        HostName d-jazz-bridge-sc-msk03
Host cdbridge-4
        HostName d-jazz-bridge-sc-msk04
Host cdbridge-5
        HostName d-jazz-bridge-sc-msk05
Host cdbridge-6
        HostName d-jazz-bridge-sc-msk06
Host cdbridge-7
        HostName d-jazz-bridge-sc-msk07
Host cdbridge-8
        HostName d-jazz-bridge-sc-msk08
Host cdbridge-9
        HostName d-jazz-bridge-sc-msk09
Host cdbridge-rc
        HostName pd-jazz-bridge-sc-msk03
Host cdsip-turn-1
        HostName d-jazzmedia-sipturn-sc-msk01
Host cdsip-turn-2
        HostName d-jazzmedia-sipturn-sc-msk02
Host cdsip-rtcsrvmgr-1
        HostName d-jazzmedia-rtcsrvmgr-sc-msk01
Host cdsip-rtcsrvmgr-2
        HostName d-jazzmedia-rtcsrvmgr-sc-msk02
Host cdsip-node-1
        HostName d-jazzmedia-nodecpu-sc-msk01
Host cetcd
        HostName d-jazzweb-etcd-sc-msk01

Host cdback* cnt* c*bridge* cdsip* cetcd
   User ovfedorchenko

Host test test.unitarm.ru pve pve.unitarm.ru
   User root
